{% extends 'templates/default.twig' %}

{% block content %}


	
	<div id="contents"><!-- CONTENTS START -->
		<div class="wrapper">
			<embed src="{{ cv.cv_url }}-/inline/yes/" width="100%" height="875" type='application/pdf'>

			<br><br>

			<hr size="30" />


			<br>

			<iframe width="100%" height="500"
				src="https://www.youtube.com/embed/L_lAtvlyRek">
			</iframe>

			<br>

		</div>
	</div><!-- CONTENTS END -->

{% endblock %}